<div class="container-fluid text-center">
    <app-header></app-header>
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card my-5">
                <div class="card-body">

                    <h5 class="card-title">Connexion</h5>
                    <form action="">

                        <input class="form-control" type="text" placeholder="Adresse mail">

                        <br>

                        <input class="form-control" type="text" placeholder="Mot de passe">

                        <br>

                        <button type="button" class="btn btn-lg btn-dark btn-block text-uppercase" (click)="onClickSignIn()">
                            Me connecter
                        </button>
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
